:root{
    --gradient: linear-gradient(
        90deg,
        #cbcbb1 0%, 
        #073179 100%
    );
    }

*{
    box-sizing: border-box;
}
body{
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Poppins', sans-serif ;
    min-height: 100vh;
    color: #fff;
    padding: 0 20px;
}

a{
    font-size: 5rem;
    margin-top: 2rem;
    text-decoration: none;
    color: #8b0606;
    font-weight: 600;
    letter-spacing: 2px;
    transition: color 0.3s;
    font-family: fantasy;
    
}


h2{
    letter-spacing: 3px;
    color: #fff;
}

.poke-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.pokemon{
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.9);
    margin: 5px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(185, 136, 2);
}

.pokemon:hover {
    transform: translateY(-10px);  
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);  
}

.pokemon .img-container{
    width: 120px;
    height: 120px;
    text-align: center;
    }

.pokemon .img-container img{
    margin-top: 20px;
    max-width: 90%;
    filter: drop-shadow(0 5px 3px black);
}

.pokemon .info{
    margin-top: 0px;
}

.pokemon .number{
    background-color: #0f0779;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    font: bold;
    width: 100%;
    padding: 5px;
    
}

.pokemon .name{
    margin: 15px 0 7px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: beige;
}

.type span{
    color:antiquewhite;
    font-size: 1.2rem;
}

.stats{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(90%);
    transition: 0.3s ease-in;
    overflow: auto;
    height: 71%;
    background-color: #0f0779;
    color: rgb(219, 217, 196);
    text-shadow: #010d22;
}

.stats p{
    justify-content: space-between;
}

.pokemon:hover .stats{
    transform: translateY(-100px);
    padding-top: 10px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

.flex > ul{
    list-style: none;
    padding: 0;
    text-align: left;
}

.flex > ul > li::first-letter{
    text-transform: uppercase;
}

.search{
    width: 100%;
    max-width: 350px;
    height: 45px;
    margin: 1.5rem 0;
    background-color: gray;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 1.4rem;
    color: #fff;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.search::placeholder{
    text-align: center;
    color: bisque;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.search:focus {
    border-color: #6f69bd;
    background-color: rgba(255, 255, 255, 0.1); 
}

.search:hover{
    transform: translateY(-10px);  
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

#comparison-container {
    margin-top: 1rem;
    padding: .5rem;
    background-color: #0f0779;
    border-radius: 5px;
    width: 80%;
    overflow-x: auto;
}

#comparison-container table {
    width: 100%;
    border-collapse: collapse;
}

#comparison-container th, #comparison-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    
}

#comparison-container th {
    background-color: #ac0404;
}

.compare-btn{
    background-color: #b34506;
    border: none;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: #fff;
}
.compare-btn:hover{  
    background-color: green;
}